
/*

cor 1 rgb(0, 136, 202) rgb(0, 136, 202)

cor 2 rgb(55, 172, 227) rgb(55, 172, 227)

cor 3 rgb(101, 206, 255) rgb(101, 206, 255)

*/

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: rgb(0, 136, 202);
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}

.jumbotron {
    border: 0;
    background-color: rgb(0, 136, 202);
    border-radius: 0;
}

.jumbotron h1 {
    font-size: 32px !important;
}

.navbar .navbar-brand {
    color: #fff !important;
    letter-spacing: 4px;
    font-size: 26px;
}

.navbar li a {
    color: #fff !important;
    letter-spacing: 1px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgb(0, 136, 202) !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.modal-header {
    background-color: rgb(0, 136, 202);
    color:white !important;
    text-align: center;
    font-size: 30px;

}
.modal-footer {
    background-color: rgb(0, 136, 202);
}

.panel-default > .panel-heading {
    background-color: rgb(55, 172, 227);
    font-size: 30px;
    color: #fff !important;
}

.panel-default > .panel-footer {
    background-color: rgb(55, 172, 227);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(101, 206, 255);
}

.table td{
    border-color: rgb(55, 172, 227) !important;
}

.table th{
    border-color: rgb(55, 172, 227) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(0, 136, 202) !important;
    border-color: rgb(0, 136, 202) !important;
}

footer {
    background-color: #fff;
}