* {
    font-family: Verdana, Geneva, sans-serif;
}

.estrutura_popup {
    width: 500px;
    margin: 0 auto;
}

.estrutura_form {
    width: 650px;
    margin: 0 auto;
}

.estrutura {
    width: 930px;
    margin: 0 auto;
}

.logotipo {
    float: left;
    height: 53px;
    width: 400px;
}

.loading {
    margin: auto;
    width: 250px;
}

.imagem_logo {
    width: 176px;
    height: 46px;
}

.imagem_loading {
    width: 250px;
    height: 250px;
}

.titulosuperior {
    float: left;
    width: 100%;
    border-top: solid 2px #0000CD;
    padding: 0.2em;

}

.titulosuperior h1 {
    font-size: 14px;
    color: #000080;
}

.titulofuncionario {
    float: left;
    width: 100%;
    padding: 0.1em;
    font-size: 14px;
    padding: 0.2em;
}


.menuTopo{
    width: 100%;
    float: left; /*Flutua para a esquerda*/
    margin-right: 20px;
}

.submenu{
    height: 33px;
    margin: 0 auto;
    padding: 0;
}

.submenu li {
    float: left;
    display: block;
    padding: 0;
    margin: 3px;
    line-height: 33px;

}

.submenu li:nth-child(1){
    background-image: url('../img/menu.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.submenu li:nth-child(2){
    background-image: url('../img/newfile_wiz.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.submenu li:nth-child(3){
    background-image: url('../img/save_edit.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.submenu li:nth-child(4){
    background-image: url('../img/refresh_nav.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.submenuVoltar{
    height: 33px;
    margin: 0 auto;
    padding: 0;
}

.submenuVoltar li {
    float: left;
    display: block;
    padding: 0;
    margin: 3px;
    line-height: 33px;
}

.submenuVoltar li:nth-child(1){
    background-image: url('../img/menu.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.submenuVoltar li:nth-child(2){
    background-image: url('../img/backward_nav.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.submenuAlterar{
    height: 33px;
    margin: 0 auto;
    padding: 0;
}

.submenuAlterar li {
    float: left;
    display: block;
    padding: 0;
    margin: 3px;
    line-height: 33px;
}

.submenuAlterar li:nth-child(1){
    background-image: url('../img/close_view.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.submenuExportar{
    height: 33px;
    margin: 0 auto;
    padding: 0;
}

.submenuExportar li {
    float: left;
    display: block;
    padding: 0;
    margin: 3px;
    line-height: 33px;
}

.submenuExportar li:nth-child(1){
    background-image: url('../img/save_edit.gif');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu {
    height: 33px;
    background: none repeat scroll 0 0 	#0000CD;
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    border-radius: 5px;
}

.menu li {
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 33px;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

.menu li:first-child{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu li:hover,
.menu .active {
    text-decoration: underline;
    color: white;
}

.menu li a {
    display: block;
    font-size: 1em;
    padding: 0 20px;
    color: #87CEEB;
    text-decoration: none;
}

.listaLinks {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaLinks li {
    background-image: url('../img/bola.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.listaRelatoriostxt {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaRelatoriostxt li {
    background-image: url('../img/notebook.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.listaRelatoriosplanilha {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaRelatoriosplanilha li {
    background-image: url('../img/planilha.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.listaRelatoriosimp {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaRelatoriosimp li {
    background-image: url('../img/impressora.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.listaprofissionais {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaprofissionais li {
    background-image: url('../img/doctor.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.listaAcesso {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.listaAcesso li {
    background-image: url('../img/id_card2.png');
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.conteudo {
    float: left;
    width: 100%;
    font-size: 14px
}

.subtitulo {
    text-align: center;
    background-color: white;
    margin: 2px;
}

.codprotocolo {
    text-align: center;
    color: yellow;
    font-size: 22px;
    background-color: #0000CD;
    margin: 2px;
    
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    border-radius: 5px;    
}

.userprotocolo {
    text-align: right;
    color: black;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    margin: 2px;
    border-radius: 5px;    
}

.rodape{
    clear: both; /*Cancela a influência de float de qualquer lado*/
    padding: 0.5em;
    font-size: 14px;
    border-top: solid 1px #0000CD;
    text-align: center;
}

.inicio {
    height: 200px;
    padding: 30px;
}
ul     {
    text-decoration: none;
    color: black;
    font-size: 12px
}

A      {
    text-decoration: none;
    color: #006699;
    font-size: 12px
}

A:link {
    text-decoration: none;
    color: #006699;
    font-size: 12px
}

A:visited {
    text-decoration: none;
    color: #006699;
    font-size: 12px
}

A:hover {
    text-decoration: underline;
    color: #1CB5FF;
    font-size: 12px
}

A:active {
    text-decoration: none;
    color: #006699;
    font-size: 12px
}

h1 {
    font-size: 18px

}

h2 {
    font-size: 14px ;
    font-style: italic;
    color: #006699;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background-color: #000080;
    color: #87CEEB;
    text-align: left;
}

table, td, th {
    border: 1px solid black;
    font-size: 14px;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #87CEFA;
}

ul {
    list-style-type: circle;
}

.larg1 {
    width: 34px;
}

.larg2 {
    width: 50px;
}

/******************************************************************************/
/********formatações de texto**************************************************/
/******************************************************************************/
.alinha{
    text-align: center;
}

.alinha_direita{
    text-align: right;
}

.atencao {
    color: red;
}

.destaque {
    color: blue;
    font-weight: bold;
}

.fontpequena {
    font-size: 10px;
}

/******************************************************************************/
/*************************************ELEMENTOS DE FORMULÁRIOS*****************/
/******************************************************************************/

.botao {
    font-size: 14px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input[type=text] {
    font-size: 14px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-sizing: border-box;    
}

input[type=text]:focus {
    background-color: rgb(240, 240, 240);
}

input[type=password] {
    font-size: 14px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    font-size: 14px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0000CD;
    font-weight: bold;
    border: none;
    color: #FFB6C1;
    margin: 4px 2px;
    cursor: pointer;
    border:1px solid #000080;
    border-radius: 5px;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
      color: gold;
  }

input[type=password]:focus {
    background-color: rgb(240, 240, 240);
}

select {
    border-radius: 4px;
    background-color: #f1f1f1;
}

textarea {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

fieldset {
    border-width: 1px;
    border-color: #00659B;
    border-style: solid;
    border-radius: 5px;
}

legend {
    border-width: 0px;
}

/******************************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/***testando a biblioteca**/
#test {
width: 600px;
padding: 30px;
display: none;
background: #FFF;
border-radius: 5px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}